# vim swap files
*.swp

# temporary files
*.tmp

# ncmpcpp's error log
profiles/ncmpcpp/.config/ncmpcpp/error.log

# ranger's preferences
profiles/ranger/.config/ranger/bookmarks
profiles/ranger/.config/ranger/history
profiles/ranger/.config/ranger/tagged

# sphinx
docs/_build
docs/_static
docs/_templates
