{
	"icons": [ "awesome-fonts" ],
	"defaults": {
		"separator-block-width": 0,
		"warning": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_RED@"
		},
		"critical": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_YELLOW@"
		},
		"good": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_BLUE@"
		},
		"great": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_GREEN@"
		},
		"mid": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_GREEN@"
		}
	},
	"cycle": [
		{
			"fg": "@WAL_CYAN@",
			"bg": "@WAL_BLACK@"
                },
		{
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_CYAN@"
		}
	],
	"dnf": {
		"good": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_YELLO@"
		}
	},
	"battery": {
		"charged": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_RED@"
		},
		"AC": {
			"fg": "@WAL_BLACK@",
			"bg": "@WAL_RED@"
		}
	}
}
